<div class="form-container">
  <div class="form-fields pt-4" *ngIf="showForm">
    <form [formGroup]="eventsForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="col-12 p-0">
            <mat-label>Title</mat-label>
            <input matInput formControlName="name" placeholder="Enter Title">
            <!--  <mat-error *ngIf="submitted && f.username.hasError('email') && !f.username.hasError('required')">
              Please enter a valid email address
            </mat-error> -->
            <mat-error *ngIf="submitted && f.name.hasError('required')">
              TTitle is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field appearance="outline" class="col-12 p-0">
            <mat-label>Start Date</mat-label>
            <!-- <input matInput type="datetime-local" placeholder="Select Date" formControlName="startdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> -->
            <input matInput [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Time"
              formControlName="startdate">
              <mat-icon matSuffix [owlDateTimeTrigger]="dt2" style="cursor: pointer;">date_range</mat-icon>
            <owl-date-time #dt2></owl-date-time>
            <!-- [matDatepicker]="picker" -->
            <mat-error *ngIf="submitted && f.startdate.hasError('required')">
              Start date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field appearance="outline" class="col-12 p-0">
            <mat-label>End Date</mat-label>
            <!-- <input matInput type="datetime-local" placeholder="Select Date" formControlName="enddate"> -->
            <!-- <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker> -->
            <!-- [matDatepicker]="picker1"  -->
            <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time"
              formControlName="enddate">
              <mat-icon matSuffix [owlDateTimeTrigger]="dt1" style="cursor: pointer;">date_range</mat-icon>
            <owl-date-time #dt1></owl-date-time>
            <mat-error *ngIf="submitted && f.enddate.hasError('required')">
              End date is <strong>required</strong>
            </mat-error>

          </mat-form-field>

        </div>

        <!-- <div class="col-12">
          <mat-form-field appearance="outline" class="col-12 p-0">
            <mat-label>Event Group</mat-label>
            <input matInput formControlName="noticegroup" placeholder="Enter Event Group">
             <mat-error *ngIf="submitted && f.username.hasError('email') && !f.username.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="submitted && f.noticegroup.hasError('required')">
              Event gropup is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div> -->

        <div class="col-12">
          <mat-form-field appearance="outline" class="col-12 p-0">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" rows="4" placeholder="Description"></textarea>
            <mat-error *ngIf="submitted && f.noticegroup.hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="example-button-row pt-3 text-center">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button *ngIf="!showButtons" mat-raised-button class="ml-3 mat-secondary"
          (click)="onFormReset($event)">Reset</button>
      </div>
    </form>
  </div>
</div>
