<form class="login100-form validate-form" [formGroup]="resetPasswordForm" (ngSubmit)="onChangePassword()">
  <h4 class="login100-form-title">
    CHANGE PASSWORD
  </h4>

  <div class="wrap-input100">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Old Password</mat-label><!-- [errorStateMatcher]="matcher" -->
      <input matInput formControlName="oldpassword" placeholder="Enter Old Password" type="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <!--             <mat-error *ngIf="submitted && f.pass.hasError('email') && !f.pass.hasError('required')">
              Please enter a valid email address
            </mat-error> -->
      <mat-error *ngIf="f.oldpassword.hasError('required')">
        Old Password is <strong>required</strong> and must be 6 characters
      </mat-error>
    </mat-form-field>
  </div>

  <div class="wrap-input100">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>New Password</mat-label><!-- [errorStateMatcher]="matcher" -->
      <input matInput formControlName="password" placeholder="Enter Password" type="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <!--             <mat-error *ngIf="submitted && f.pass.hasError('email') && !f.pass.hasError('required')">
              Please enter a valid email address
            </mat-error> -->
      <mat-error *ngIf="f.password.hasError('required')">
        New Password is <strong>required</strong> and must be 6 characters
      </mat-error>
    </mat-form-field>
  </div>
  <div class="wrap-input100">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Confirm Password</mat-label><!-- [errorStateMatcher]="matcher" -->
      <input matInput formControlName="cnfPassword" type="password" placeholder="Password(confirm)">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <!--             <mat-error *ngIf="submitted && f.pass.hasError('email') && !f.pass.hasError('required')">
              Please enter a valid email address
            </mat-error> -->
      <mat-error *ngIf="f.cnfPassword.hasError('mismatch')">
        Password do not match
      </mat-error>
    </mat-form-field>
  </div>

  <div class="container-login100-form-btn">
    <button mat-raised-button color="primary">Reset Password</button>
  </div>
  <!-- <div class="login-navigation-link">
    <div class="text-center">
      <span>Already have an account?</span>
    </div>

    <div class="text-center">
      <a class="text-link" routerLink="/login" color="primary">
        Login
        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
      </a>
    </div>
  </div> -->
</form>
