.list {
  border-right: 1px solid #ccc;
  margin-bottom: 20px;
  padding-top: 15px !important;
  &:last-child {
    border-right: none !important;
  }
  &:nth-child(2) {
    @media screen and(max-width: 991px) {
      border-right: none !important;
    }
  }
  @media screen and(max-width: 576px) {
    border-right: none !important;
  }
  ul {
    li {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      span {
        padding-right: 15px;
        &:nth-child(2) {
          flex: 1;
        }
      }
    }
  }
}
