<div class="list-container">
  <div class="page-title">
    <h3>Teachers Dashboard</h3>
  </div>
  <!-- <div class="no-record" *ngIf="isLoading">
    <img src="assets/images/page-loader.gif" alt="">
    <p class="m-0">loading...</p>
  </div> -->
  <div class="s-list">
    <div class="row gutters-20">
      <div class="col-md-4 col-12 row p-0 m-0">
        <div class="col-md-6 col-12 pr-0">
            <div class="dashboard-summery-two">
                <div class="item-icon bg-light-magenta">
                    <i class="flaticon-classmates text-magenta"></i>
                </div>
                <div class="item-content">
                    <div class="item-number">
                      <span class="counter" data-num="35000">35000</span>
                    </div>
                    <div class="item-title">Total Students</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 pr-0">
            <div class="dashboard-summery-two">
                <div class="item-icon bg-light-blue">
                    <i class="flaticon-shopping-list text-blue"></i>
                </div>
                <div class="item-content">
                    <div class="item-number"><span class="counter" data-num="19050">19050</span></div>
                    <div class="item-title">Total Exams</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 pr-0">
            <div class="dashboard-summery-two">
                <div class="item-icon bg-light-yellow">
                    <i class="flaticon-mortarboard text-orange"></i>
                </div>
                <div class="item-content">
                    <div class="item-number"><span class="counter" data-num="23890">23890</span></div>
                    <div class="item-title">Graduate Studes</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 pr-0">
            <div class="dashboard-summery-two">
                <div class="item-icon bg-light-red">
                    <i class="flaticon-money text-red"></i>
                </div>
                <div class="item-content">
                    <div class="item-number"><span>₹</span><span class="counter" data-num="2102050">2102050</span></div>
                    <div class="item-title">Total Income</div>
                </div>
            </div>
        </div>
    </div>

      <div class="col-12 col-md-4 pr-0">
        <div class="card dashboard-card-three pd-b-20">
          <div class="card-body">
            <div class="heading-layout1">
              <div class="item-title">
                <h3>Students</h3>
              </div>
            </div>
            <div class="doughnut-chart-wrap">
              <highcharts-chart [Highcharts]="highcharts" [options]="attendanceCharts"
                style="width: 100%; height: 400px; display: flex; flex-wrap: wrap;">
              </highcharts-chart>
            </div>
            <div class="student-report">
              <div class="student-count pseudo-bg-blue">
                <h4 class="item-title">Female Students</h4>
                <div class="item-number">24,500</div>
              </div>
              <div class="student-count pseudo-bg-yellow">
                <h4 class="item-title">Male Students</h4>
                <div class="item-number">10,500 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 ">
        <div class="card dashboard-card-two pd-b-20">
          <div class="card-body">
            <div class="heading-layout1">
              <div class="item-title pb-2">
                <h3>Notifications
                </h3>
              </div>
            </div>
            <div class="expense-chart-wrap">
              <div class="notice-board-wrap dashboard-notice">
                <ul *ngIf="notificationList && notificationList.length>0">
                  <li *ngFor="let list of notificationList">
                    <div class="notice-list">
                      <div class="post-date" [style.backgroundColor]="list.dateLbelBg">
                        {{list.startdate | date: 'd MMM y'}}
                      </div>
                      <h6 class="notice-title"><a href="javascript:void(0)">{{list.name}}.</a></h6>
                      <!-- <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div> -->
                    </div>
                  </li>
                </ul>
                <ul *ngIf="notificationList && notificationList.length==0 && !isLoading">
                  <li>
                    <div class="notice-list">
                      <div class="post-date" style="background-color:#40dfcd">03/08/2020</div>
                      <h6 class="notice-title"><a href="javascript:void(0)">Studies show people who capture what they are grateful for report feeling less stressed out! Share you happy moment:).</a></h6>
                      <!-- <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div> -->
                    </div>
                  </li>
                  <li>
                    <div class="notice-list">
                      <div class="post-date" style="background-color:#fbd540">04/08/2020</div>
                      <h6 class="notice-title"><a href="javascript:void(0)">Studies show people who capture what they are grateful for report feeling less stressed out! Share you happy moment:).</a></h6>
                      <!-- <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div> -->
                    </div>
                  </li>
                  <li>
                    <div class="notice-list">
                      <div class="post-date" style="background-color:#f939a1">05/08/2020</div>
                      <h6 class="notice-title"><a href="javascript:void(0)">Studies show people who capture what they are grateful for report feeling less stressed out! Share you happy moment:).</a></h6>
                      <!-- <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div> -->
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row gutters-20">
  <div class="list-container col-12">
    <!-- <div class="page-title">
      <h3>Students</h3>
    </div>
    <div class="no-record" *ngIf="isLoading">
      <img src="assets/images/page-loader.gif" alt="">
      <p class="m-0">loading...</p>
    </div> -->
    <div class="s-list p-0">
      <mat-card>
        <div class="list-head">
          <mat-card-title>My Students</mat-card-title>
          <div>
            <mat-form-field appearance="outline" class="col-12 p-0">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Search...">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <mat-card-content class="pt-4">

          <table mat-table [dataSource]="studentList" class="col-12" matSort>

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Roll Number Column -->
            <ng-container matColumnDef="rollnumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Roll </th>
              <td mat-cell *matCellDef="let element"><span
                  *ngIf="element.rollnumber ;else dash">{{element.rollnumber}}</span></td>
            </ng-container>

            <!-- Enrollment Number Column -->
            <ng-container matColumnDef="enrolnumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Enrollment </th>
              <td mat-cell *matCellDef="let element"><span
                  *ngIf="element.enrolnumber ;else dash">{{element.enrolnumber}}</span></td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"><span
                  *ngIf="element.firstname ;else dash">{{element.firstname | titlecase}}
                  {{element.lastname | titlecase}}</span></td>
            </ng-container>

            <!-- Weight Column -->
            <!-- <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
              <td mat-cell *matCellDef="let element"> <span
                  *ngIf="element.lastname ;else dash">{{element.lastname | titlecase}}</span></td>
            </ng-container> -->

            <!-- Symbol Column -->
            <ng-container matColumnDef="sex">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
              <td mat-cell *matCellDef="let element"> <span
                  *ngIf="element.sex ;else dash">{{element.sex | titlecase}}</span></td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="section">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th>
              <td mat-cell *matCellDef="let element"><span *ngIf="element.section ;else dash">{{element.section}}</span>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
              <td mat-cell *matCellDef="let element"> <span
                  *ngIf="element.dob ;else dash">{{element.dob | date: 'dd/MM/yyyy'}}</span></td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="mobilenumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile</th>
              <td mat-cell *matCellDef="let element"><span
                  *ngIf="element.mobilenumber ;else dash">{{element.mobilenumber}}</span></td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef style="width: 50px;"></th>
              <td mat-cell *matCellDef="let element">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <span class="flaticon-more-button-of-three-dots" id="dropdownBasic1" ngbDropdownToggle></span>
                    <!-- <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button> -->
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="onEdit(element)"><span class="fa fa-cogs"
                          style="color: #00c853;"></span>&nbsp;&nbsp;&nbsp;Edit</button>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="recordLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #dash>---</ng-template>
