<div [ngClass]="{ 'fluid-bread': true}">
  <div class="">
      <ol [ngClass]="{ 'breadcrumb': allowBootstrap}" class="{{addClass ? '' + addClass : ''}}">
          <li *ngFor="let breadcrumb of breadcrumbs; let last = last"
              [ngClass]="{ 'breadcrumb-item': allowBootstrap, 'list': true, 'active': last }">
              <a *ngIf="!last" [routerLink]="hasParams(breadcrumb)">
                  {{breadcrumb.label}}
              </a>
              <span *ngIf="last">{{ breadcrumb.label }}</span>
          </li>
      </ol>
  </div>
</div>
