<div class="onboard-layout">
    <div class="row m-0">
      <div class="col-md-8 d-none d-md-flex login-left">
        <div class="text-white d-md-block d-none">
          <img src="assets/images/Adyayana.png" width="350" alt="">
          <h4><!-- Sergius -->Adyayana School Management</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel <br/> convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.</p>
        </div>
      </div>
      <div class="col-12 col-md-4 login-block">
        <div class="text-black d-md-none d-block" >
          <img src="assets/images/Adyayana.png" width="250" alt="">
          <!-- <h4>Sergius School Management</h4> -->
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
