.onboard-layout{
  background-image: url("/assets/images/dark-material-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  .login-block{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 6px #000000;
    padding:30px 50px;
    flex-direction: column;
    img{
      // width: 130px;
      margin-bottom: 50px;
    }
    h4{
      font-size: 42px;
      font-weight: 400;
      padding-top: 40px;
      padding-bottom: 10px;
    }
}
.login-left{
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100vh;
  padding: 50px 110px;
  img{
    // width: 130px;
  }
  h4{
    font-size: 42px;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 10px;
  }
}
}
