<div class="onboard-layout">
    <div class="row m-0">
      <div class="col-md-8 d-none d-md-flex login-left">
        <div class="text-white d-md-block d-none">
         <a class="d-inline-block bg-white p-1 rounded" href="javascript:void(0)"> <img src="assets/images/Adyayana.png" width="350" alt=""></a>
          <h4><!-- Sergius -->Adyayana School Management</h4>
          <p>Adyayana is a product of SERGIUS SOLUTIONS. It is developed to enhance all educational institutions cater to all their requirements from a single platform. It is the one stop Solution to provide integrated solutions to Parents, Students, Staff and Administrates.</p>
        </div>
      </div>
      <div class="col-12 col-md-4 login-block">
        <div class="text-black d-md-none d-block" >
          <img src="assets/images/Adyayana.png" width="250" alt="">
          <!-- <h4>Sergius School Management</h4> -->
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
