<div class="list-container">
  <div class="page-title">
    <h3>Exam Scheduling</h3>
  </div>
  <!-- <div class="no-record" *ngIf="isLoading">
    <img src="assets/images/page-loader.gif" alt="">
    <p class="m-0">loading...</p>
  </div> -->
  <!-- *ngIf="!isLoading" -->
  <div class="row">
    <div class="col-md-4 col-12 s-list">
      <mat-card class="h-100">
        <div class="list-head">
          <mat-card-title>Schedule Exam</mat-card-title>
        </div>
        <mat-card-content class="">
          <app-add-scheduling (formSubmit)="onFormSubmit($event)"></app-add-scheduling>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="s-list col-md-8 col-12">
      <app-scheduling-list [isFormSubmit]='isFormSubmit'></app-scheduling-list>
    </div>
  </div>
</div>

<ng-template #dash>---</ng-template>
