<div class="list-container">
  <div class="page-title">
    <h3>Notifications</h3>
  </div>
  <!-- <div class="no-record" *ngIf="isLoading">
    <img src="assets/images/page-loader.gif" alt="">
    <p class="m-0">loading...</p>
  </div> --><!-- *ngIf="!isLoading" -->
<div class="row">
  <div class="col-md-4 s-list col-12">
    <mat-card class="h-100">
      <div class="list-head">
        <mat-card-title>Create A Notification</mat-card-title>
      </div>
      <mat-card-content class="">
        <app-notification-add (formSubmit)="onFormSubmit($event)"></app-notification-add>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="s-list col-md-8 s-list col-12">
    <mat-card class="h-100">
      <div class="list-head">
        <mat-card-title>Upcomming Notification</mat-card-title>
      </div>
      <mat-card-content class="pt-4">
        <app-notification-list [isFormSubmit] = 'isFormSubmit'></app-notification-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>

<ng-template #dash>---</ng-template>

